<div class="py-8 md:py-10">
  {{#nypr-player
    sound=@model.sound
    freestanding=true
    currentTitle=@model.title
    backdropImageUrl=@model.imageURL
    as |content|}}
    {{#content.for "trackInfo"}}
      <a href={{@model.url}}>{{@model.title}}</a>
    {{/content.for}}
  {{/nypr-player}}
</div>
