@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";

body {
  font-family: "Trebuchet MS";
}

.hanging-indent {
  margin-left: 0.5rem;
  text-indent: -0.5rem;
}

a:hover {
  @apply text-accent-500;
}

.active {
  @apply text-accent-500;
}

