<div class="flex flex-col md:flex-row">
  <div class="w-full md:w-2/5 pb-10 md:pl-6 md:pb-0 md:pr-12">
    {{svg-jar "about" class="fill-current"}}
  </div>
  <div class="w-full md:w-3/5">
    <h2 class="text-xl font-bold pb-8">10001</h2>

    <MoreBox>
      <p class="pb-8">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum efficitur nisl, et ultricies nibh vehicula eget. Sed eget arcu mollis, placerat nunc sit amet, vehicula ligula. Pellentesque laoreet mattis ante id vulputate. Quisque facilisis aliquet magna, at facilisis ex dictum ac. Sed erat sem, scelerisque quis erat vitae, aliquet consectetur orci. Mauris varius accumsan nunc a iaculis. Duis eget est ultricies, rhoncus lacus at, ultricies felis. Duis placerat, diam in eleifend placerat, lorem ex rutrum ipsum, rhoncus malesuada augue turpis sit amet est. Curabitur aliquet volutpat egestas. Donec quis sem viverra, condimentum erat id, consequat nulla. Etiam viverra lorem risus, sagittis eleifend arcu tincidunt bibendum.
      </p>

      <p class="pb-8">
        Ut eu tortor sit amet lorem bibendum porta. Fusce dapibus turpis commodo justo volutpat aliquam quis eu sem. Sed eu maximus mi, quis pretium velit. Etiam lobortis pharetra justo facilisis ultricies. Sed ante quam, gravida quis enim at, volutpat pharetra lorem. Mauris risus ipsum, vestibulum quis elit at, vehicula lobortis lectus. Vestibulum facilisis velit ligula. Vestibulum convallis enim placerat quam efficitur, quis egestas odio convallis. Pellentesque luctus venenatis odio, ac vestibulum est blandit id. Praesent a gravida nunc. Nam iaculis fringilla mauris a congue. Curabitur congue neque vitae diam sollicitudin auctor. Donec posuere nisl sit amet placerat elementum. Ut eu turpis tincidunt, consequat massa id, interdum elit. Ut nec mollis arcu.
      </p>

      <p class="pb-8">
        Etiam fermentum magna congue consectetur varius. Donec sit amet venenatis nisi. Fusce tellus tortor, mollis ac elementum facilisis, malesuada a purus. Curabitur semper ut ipsum vitae auctor. Aenean tempus aliquet urna nec ultrices. Donec blandit elementum ullamcorper. Etiam dapibus, dui condimentum accumsan finibus, tortor dui venenatis nibh, vitae fermentum lacus dui nec purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus vulputate diam elementum, mollis nisi ac, semper arcu. Nunc blandit hendrerit justo. Suspendisse aliquam egestas tincidunt. Phasellus metus orci, congue at orci vel, feugiat hendrerit metus. Vestibulum pretium nisl ut risus venenatis condimentum.
      </p>

      <p class="pb-8">
        Nam blandit egestas lorem non consectetur. Morbi imperdiet, arcu nec vulputate malesuada, ligula risus dignissim quam, sit amet fermentum magna tortor vitae nibh. Nam nec aliquet ligula. Proin cursus turpis eget enim pellentesque, id viverra metus molestie. Sed tellus eros, tristique nec pellentesque ac, blandit a eros. Sed sed urna fringilla, rutrum mauris non, ultrices metus. Mauris id laoreet lectus. Phasellus a massa elementum, mollis diam nec, maximus felis. Duis tempor congue neque laoreet porttitor. Praesent vitae felis at tortor egestas tristique. Sed fringilla, libero a fringilla accumsan, neque magna laoreet felis, vitae interdum odio nulla sed quam. Suspendisse sem mauris, lobortis a erat et, consequat mollis libero.
      </p>

      <p class="pb-8">
        Maecenas ut hendrerit metus, vitae posuere ex. Vestibulum rutrum aliquet ante. Integer eu nisi tempus, egestas erat id, tempus ex. Sed elementum ipsum ac tempus egestas. Nulla eget massa ipsum. Pellentesque dignissim elit sem, id vulputate leo hendrerit sit amet. Praesent urna sapien, ullamcorper id eleifend bibendum, pellentesque vitae nibh. Cras dignissim libero non ultricies ornare. Aenean euismod diam arcu, quis facilisis ligula dictum non. Nam sit amet mattis velit, eu elementum est. Suspendisse vel magna lobortis, aliquet eros vitae, pellentesque lectus. Curabitur vitae enim magna. Sed at libero ullamcorper, vulputate enim sit amet, pretium magna. Aliquam commodo, dolor quis luctus ultricies, diam erat cursus elit, vel porta risus augue vel sapien. Sed sit amet arcu erat.
      </p>

      <p class="pb-8">
        Vivamus cursus nec dui id fringilla. Praesent porta nibh id feugiat elementum. Quisque dignissim nulla ac porttitor ullamcorper. Proin sagittis velit vitae magna suscipit, ac hendrerit sem tempus. Praesent interdum sagittis sapien, nec imperdiet mi tristique id. Curabitur nec luctus tellus, eget fermentum metus. Cras id dolor nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras quis tempus lacus, quis dictum neque. Cras fermentum sagittis lorem, nec venenatis nunc imperdiet nec. Donec eleifend quam metus, non finibus tellus consectetur eget. Donec ut eros et dolor placerat bibendum.
      </p>

      <p class="pb-8">
        Vivamus vitae nulla consequat nibh elementum condimentum. Duis ipsum augue, molestie eu accumsan a, iaculis vel lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean ut urna quis lacus luctus venenatis et posuere urna. Donec ac varius nisl, a volutpat ligula. Duis dignissim urna vel pellentesque molestie. Vestibulum at felis leo. Donec eu eros nec metus laoreet molestie. Pellentesque bibendum sit amet dui vel vestibulum. Cras at rutrum magna. Donec justo eros, gravida a tempus nec, ullamcorper ac enim. Aliquam erat volutpat. Suspendisse at lorem lectus. Suspendisse egestas imperdiet est, sit amet ultricies turpis lacinia quis.
      </p>
    </MoreBox>
  </div>
</div>
