<div class="flex flex-col md:flex-row">
  <AboutGraphic />
  <div class="w-full md:w-3/5">
    <h2 class="text-xl font-bold pb-6">10001</h2>

    <MoreBox @heightClass="h-64">
      <TextBox>
<p>August 5 – September 12</p>

<p>On August 5, <a href="https://undercurrent.nyc">Undercurrent</a> launched
  “10001,” a collaborative virtual project that continues through September 12.
  This project is co-organized by the <a href="http://eunicglobal.edu">European Union NAtional Institutes for Culture</a>’s New York Cluster.  Borrowing the zip code from both the Empire State
Building and New York City’s Central Post Office, “10001” focuses on the
collaboration of strangers and the narrative of their collective creative
process using New York City as the linchpin. Coming from a variety of
disciplines, twelve European Union artists who have never met each other will
be randomly paired, making up a total of six teams. Through a series of Zoom
sessions, each team will spend a six-week period developing a single project
that will reimagine NYC post March 20, 2020.</p>

<p>New York City has long been a blueprint for pop culture and fiction, a
  metropolis amongst vertical cities, and a plinth for diversity, culture, and
  the arts. It has weathered and survived many unforeseen catastrophes, and
even now struggles on a variety of fronts after having been the world epicenter
of the COVID-19 pandemic. As the most densely populated city in the United
      States, we will need to adapt and evolve as families, neighborhoods,
      communities, and boroughs. With shelter-in-place orders, social
    distancing, closed country borders, and global protests for justice and
      racial equality, communication, exchange, and collaboration are needed
      more than ever. This project imagines rehabilitating NYC through
    collaboration. As strangers, how do we work together with what we do not
    know for a hopeful and better tomorrow?</p>

<p>As a gathering space for plural nations, cultures, languages, and beliefs, New York’s internationalist energy has flowed into the makeup of the artists in “10001.” Their practices range from moving and still visual and performing arts to music composition and film. Participating artists include: <a href="https://www.thewholeelements.com">Anna Bera</a> (Poland), <a href="http://www.alex-camilleri.com/index">Alex Camilleri</a> (Malta), <a href="http://www.mdinabiennale.org/index.php/42-mdbn-artists/590-mariella-cassar-cordina">Mariella Cassar-Cordina</a> (Malta), <a href="http://kooshkresidency.com/resident/saddie-choua/">Saddie Choua</a> (Flanders, Belgium), <a href="https://www.nicolaginzel.com">Nicola Ginzel</a> (Austria), <a href="http://justynagorowska.com">Justyna Górowska</a> (Poland), <a href="http://adavanhoorebeke.blogspot.com">Ada Van Hoorebeke</a> (Flanders, Belgium), <a href="http://www.ievamediodia.com">Ieva Mediodia</a> (Lithuania), <a href="https://www.luisamuhr.com">Luisa Muhr</a> (Austria), <a href="https://joanlosangeles.org/performance-ana-prvacki-ieva-miseviciute/">Kira Nova</a> (Lithuania), <a href="http://jonastarm.com">Jonas Tarm</a> (Estonia), and <a href="http://www.terttuphoto.com">Terttu Uibopuu</a> (Estonia).</p>

<p>This project was initiated by the <a
    href="https://ny.mfa.lt/niujorkas/en/">Lithuanian Culture Institute</a> and
  the Consulate General of Estonia in New York and co-organized by Undercurrent
  and <a
href="https://www.artscouncilmalta.org/pages/the-council/our-strategy/internationalisation/arts-council-malta-in-new-york/">Arts
Council Malta</a> in New York, <a href="https://www.acfny.org">Austrian
Cultural Forum</a> New York, the <a href="https://flandersintheusa.org">General
Delegation of the Government of Flanders</a> to the USA, and the <a
                                                                   href="https://instytutpolski.pl/newyork/">Polish
                                                                   Cultural
                                                               Institute</a> in
                                                             New York.</p>

      </TextBox>
    </MoreBox>
  </div>
</div>
