<div class="flex flex-col md:flex-row">
  <AboutGraphic />
  <div class="w-full md:w-3/5">
    <h2 class="text-xl font-bold pb-6">10001</h2>

    <MoreBox @heightClass="h-64">
      <p>August 5 – September 12</p>

      <TextBox @markdownPath="about" />
    </MoreBox>
  </div>
</div>
