<div class="flex flex-col space-y-4 md:space-y-4 pb-6 md:pb-16">
  <TwoColumn>
    <TwoColumn::One>
      <BinaryTimer />
    </TwoColumn::One>
    <TwoColumn::Two>
      <h2 class="pt-12 md:pt-0 text-sm md:text-base font-bold">
        <span class="uppercase">Unveiling “10001”</span>
      </h2>
      <CountdownTimer>
        <TextBox @markdownPath="unveiling" />
      </CountdownTimer>


    </TwoColumn::Two>
  </TwoColumn>

</div>


