<div class="clip-play-box w-full">
<!-- <div class="clip-play-box w-full md:w-1/2"> 
      Needs also adjustment to padding-bottom.
-->
  {{#let (if @url @url 
    (concat "https://player.vimeo.com/video/" @vimeoCode)
    ) as |src| }}
    <iframe 
      class="absolute top-0 left-0 w-full h-full"
      src={{src}}
      frameborder="0" 
      allow="autoplay; fullscreen" 
      allowfullscreen
      webkitAllowFullScreen
      mozallowfullscreen
      >
    </iframe>
  {{/let}}
</div>

