<div class="w-screen h-screen bg-black flex justify-center items-center text-white">

  <div class="h-20 w-full px-4 md:px-0 md:w-2/3 mx-auto">
    <h1 class="sr-only">10001, Coming Soon from Undercurrent</h1>
    {{svg-jar "coming-soon" class="w-full fill-current"}}
  </div>
</div>

