<div
  {{ did-insert this.fadeInTetrominoes }}
  class="text-white p-1 md:p-4 flex h-full justify-end flex flex-col items-center">
  {{svg-jar "empire-state-building" class="fill-current empire-state-building-svg"}}
</div>

