<footer class="flex flex-col space-y-3 p-4 border-t-2 border-gray-800">
  <div class="grid grid-cols-3 grid-rows-3 gap-2">
    {{#each this.shuffledOrgs as |org index|}}
    <div class="flex items-justify align-center p-2 md:w-48 md:p-4 {{if (eq org.svg "austria-logo") "row-span-2"}}"> 
        {{svg-jar org.svg class="w-full"}}
      </div>
    {{/each}}
  </div>
  <UndercurrentSignup />
  <p class="text-sm">Follow us on: <a href="http://facebook.com/undercurrent.nyc">{{svg-jar "facebook-official" class="inline-block h-6 fill-current"}}</a> <a href="https://instagram.com/undercurrent.nyc"> {{svg-jar "instagram" class="inline-block h-6 fill-current"}}</a></p>
  <p class="text-2xs md:text-sm">&copy; 2020, <a href="https://undercurrent.nyc">/UNDERCURRENT</a> /70 John St. Brooklyn, NY 11201.</p>
</footer>
