<LinkTo @route="index" class="h-40 bg-white hover:text-gray-800"
  {{in-viewport onEnter=this.onEnter onExit=this.onExit}}
  >
  {{svg-jar "header" class="fill-current"}}
</LinkTo>
<h1 class="sr-only">10001</h1>
<header class="p-4 pb-2 sticky top-0 bg-white flex flex-row justify-between">
  <div class="flex-grow-0">
    <a href="https://undercurrent.nyc">
      <p class="sr-only">Undercurrent Website</p>
      {{svg-jar "undercurrent" class="fill-current h-16"}}
    </a>
  </div>
  <div class="pl-10 flex flex-grow flex-col">
    <AnimatedContainer class="flex w-full justify-end">
      {{#animated-if this.showSmallHeader use=this.transition}}
        <LinkTo @route="index" class="hover:text-gray-800 pb-2">
          {{svg-jar "header-small" class="fill-current h-10"}}
        </LinkTo>
      {{/animated-if}}
    </AnimatedContainer>
    <NavBar />
  </div>
</header>
