<LinkTo @route="index" class="h-40 bg-white hover:text-gray-800"
  {{in-viewport onEnter=this.onEnter onExit=this.onExit}}
  >
  {{svg-jar "header" class="fill-current"}}
</LinkTo>
<header class="p-4 pb-2 sticky top-0 bg-white flex flex-row">
  <h1 class="sr-only">10001</h1>
  <div class="flex-grow-0">
    <a href="https://undercurrent.nyc">
      <p class="sr-only">Undercurrent Website</p>
      {{svg-jar "undercurrent" class="fill-current h-16"}}
    </a>
  </div>
  <div class="pl-10 flex flex-grow flex-col">
    <AnimatedContainer>
      {{#animated-if this.showSmallHeader use=this.transition}}
        <div class="flex justify-end pb-2">
          {{svg-jar "header-small" class="h-10"}}
        </div>
      {{/animated-if}}
    </AnimatedContainer>
    <NavBar />
  </div>
</header>
