<div class="relative">
  <div class="{{if this.moreShown "" (concat @heightClass " overflow-y-hidden")}}">
		{{yield}}
	</div>
  <div class="hidden more-button {{if this.moreShown "hidden"}}" role="button" {{on "click" this.showMore}}>
		<p class="bg-white">/MORE</p>
	</div>
</div>
