<div class="relative">
  <div class="{{if this.moreShown "" "h-40 overflow-y-hidden"}}">
		{{yield}}
	</div>
  <div class="more-button {{if this.moreShown "hidden"}}" role="button" {{on "click" this.showMore}}>
		<p class="bg-white">/MORE</p>
	</div>
</div>
