<nav class="flex justify-between bg-white md:max-w-16 md:min-w-16 md:ml-auto">
  <LinkTo @route="about" class="block relative">
      /ABOUT
  </LinkTo>
  <LinkTo @route="artists" class="block relative">
      /ARTISTS
  </LinkTo>
  <LinkTo @route="index" class="block relative">
      /PODCAST
  </LinkTo>
</nav>
