<nav class="flex justify-between bg-white">
  <LinkTo @route="about" class="block relative">
      /ABOUT
  </LinkTo>
  <LinkTo @route="artists" class="block relative">
      /ARTISTS
  </LinkTo>
  <LinkTo @route="index" class="block relative">
      /PODCAST
  </LinkTo>
</nav>
