<nav class="flex justify-between bg-white md:max-w-16 md:min-w-16 md:max-w-64 md:ml-auto">
  <LinkTo @route="exhibit.about" class="block relative">
      /ABOUT
  </LinkTo>
  <LinkTo @route="exhibit.artists" class="block relative">
      /ARTISTS
  </LinkTo>
  <LinkTo @route="exhibit.podcast" class="block relative">
      /PODCAST
  </LinkTo>
</nav>
