<div class="w-1/2">
  <p class="text-xs md:text-sm">“10001” Episode Nr. n</p>
  <h2 class="font-bold">{{@episode.title}}</h2>
  <p>Posted on: blah date</p>
  <p>Duration: blah time</p>
  <p>View on undercurrent.nyc</p>
</div>

