<header class="flex-grow-0 w-full p-10 flex flex-row justify-between">
  <div class="flex-grow-0 h-16">
    <a href="https://undercurrent.nyc">
      <p class="sr-only">Undercurrent Website</p>
      {{svg-jar "undercurrent" class="fill-current h-10 md:h-16"}}
    </a>
  </div>
  <div class="pl-10 md:pt-4 flex flex-grow flex-col">
    <div class="flex w-full justify-end text-white">
        {{svg-jar "header-small" class="fill-current h-10 md:h-12"}}
    </div>
  </div>
</header>
