<div class="flex flex-row">
  <div class="bg-black text-white">
    <p class="px-2 uppercase text-xl md:text-xl">
      {{yield}}
    </p>
  </div>
  <div class="h-8 w-8">
    {{svg-jar "swallowtail" class="fill-current h-full"}}
  </div>
</div>
