<div class="flex flex-row">
  <div class="bg-black text-white h-6 flex items-center justify-center">
    <p class="px-2 uppercase text-base md:text-base">
      {{yield}}
    </p>
  </div>
  <div class="h-6 w-6 -ml-1">
    {{svg-jar "swallowtail" class="fill-current h-full"}}
  </div>
</div>
