<!-- <div class="grid grid-cols-3 grid-rows-7 md:grid-cols-4 px-0 py-2 md:p-3 overflow-y-auto"> -->
  <!-- <div class="col-span-2 md:col-span-3 flex flex-grow overflow-auto"> -->
  <div class="{{@widthClass}} overflow-x-auto overflow-y-hidden flex flex-row">
    {{#if (eq (random 4 0) 3)}}
      <div class="h-full flex justify-center items-center pr-1">
        <div class="bg-white h-full w-32 md:w-64">&nbsp;</div>
      </div>
    {{/if}}
    {{#each @team.clips as |clip|}}
    <ClipThumbnail @clickRoute={{@clickRoute}} @clip={{clip}} />
    {{/each}}
  </div>
