  <div class="team-clips w-full h-full flex flex-row">
    {{#each this.clips as |clip|}}
    <ClipThumbnail @showScrollBar={{this.showScrollBar}} @clickRoute={{@clickRoute}} @clip={{clip}} />
    {{/each}}
  </div>
