<section class="flex flex-row h-32 md:h-64">
    <TeamTile @team={{@team}} />
    <div class="w-3/5">
      <TeamClips @clickRoute="exhibit.teams.index.clip" @clips={{@team.clips}} @dummies={{true}} />
    </div>
</section>
