  <div class="w-1/3 md:w-48 md:max-w-2xl flex-grow-0 pr-3 md:pr-5">
    <div class="py-1">
      <LinkTo @route="exhibit.teams.team" @model={{@team.id}} class="hover:text-accent-500"> 
        {{svg-jar @team.id class="fill-current w-1/2"}}
      </LinkTo>
    </div>
</div>
