<div class="grid grid-cols-3 grid-rows-7 md:grid-cols-4 px-0 py-2 md:p-3 overflow-y-auto">
  {{#let (random 4 0) as |rand|}}
  <TeamTile @team={{@team}} />
  <div class="col-span-2 md:col-span-3 flex flex-grow overflow-auto">
    {{#if (eq rand 3)}}
      <div class="flex justify-center items-center pr-3">
        <div class="bg-white h-40 w-40">&nbsp;</div>
      </div>
    {{/if}}
    {{#each @team.clips as |clip|}}
      <LinkTo @route="teams.index.clip" @model={{clip}}>
        <div class="flex justify-center items-center pr-3">
          <div class="bg-black h-40 w-40">&nbsp;</div>
        </div>
      </LinkTo>
    {{/each}}
  </div>
  {{/let}}
</div>
