<div class="team-clips h-full w-full">
  <SimpleBar>
    {{#each this.clips as |clip|}}
      <ClipThumbnail @showScrollBar={{this.showScrollBar}} @clickRoute={{@clickRoute}} @clip={{clip}} />
    {{/each}}
  </SimpleBar>
</div>
