<div class="flex {{@classes}} justify-between items-end">
    {{yield}}
    <LinkTo @route="exhibit.teams.team" @model={{@team}} role="button">
      {{svg-jar @team.id class="fill-current h-12 md:h-16"}}
    </LinkTo>
  </div>
