<div class="border-8 border-black p-6 flex flex-col space-y-2">
  <p>Sign up for the Ū newsletter:</p>
  <button class="w-full text-white bg-black hover:bg-accent-500">
    <a href="http://undercurrent.nyc/signup" class="hover:text-gray-200">Sign Up</a>
  </button>
</div>
