<div class="border-black border-2 flex flex-row p-4 md:p-6 space-x-2 md:space-x-4 items-end">
  <div class="flex-grow full flex flex-col justify-center space-y-2 text-xs">
    <p>SIGN UP FOR THE Ū NEWSLETTER:</p>
    <button class="w-full text-white bg-black hover:bg-accent-500 p-2 text-sm">
      <a href="http://undercurrent.nyc/signup" class="hover:text-gray-200">Sign Up</a>
    </button>
  </div>
  <div class="h-10">
    <a href="http://facebook.com/undercurrent.nyc">
      {{svg-jar "facebook-official" class="fill-current h-full"}}
    </a> 
  </div>
  <div class="h-10">
    <a href="https://instagram.com/undercurrent.nyc">
      {{svg-jar "instagram" class="fill-current h-full"}}
    </a>
  </div>
</div>
