<div class="border-black border-2 flex flex-row">
  <div class="follow-us flex space-y-2">
    <p class="text-xs">FOLLOW Ū:</p>
    <div class="flex space-x-2">
      <a href="http://facebook.com/undercurrent.nyc">
        {{svg-jar "facebook-official" height="18px" width="18px" class="fill-current"}}
      </a> 
      <a href="https://instagram.com/undercurrent.nyc">
        {{svg-jar "instagram" height="18px" width="18px" class="fill-current"}}
      </a>
    </div>
  </div>

  <div class="w-full px-6 py-2 flex flex-col justify-center space-y-2 text-xs">
    <p>SIGN UP FOR THE Ū NEWSLETTER:</p>
    <button class="w-full text-white bg-black hover:bg-accent-500 p-2 text-sm">
      <a href="http://undercurrent.nyc/signup" class="hover:text-gray-200">Sign Up</a>
    </button>
  </div>
</div>
