.clip-link {
  @apply absolute bottom-0 left-0 w-full h-full bg-black;
}

.clip-link.active {
  opacity: 100 !important;
  background-color: rgba(51,255,94,1);
}

.clip-text {
  @apply pointer-events-auto font-bold text-xs;
}

.clip-text.active p {
  color: black;
  opacity: 1;
}
