<div class="flex items-center justify-center w-full">
  <div>
    <h2 class="text-xl md:text-2xl pb-2">
      {{svg-jar @model.team.slug height="1.5rem" class="inline"}}
      {{@model.title}}
    </h2>
    <img src="https://lorempixel.com/640/480/cats" />
    <p>{{@model.postDate}}</p>
  </div>
</div>
