<NavBar />

<main class="px-2">
  <article>
    {{outlet}}
  </article>
</main>

<footer class="p-2 border-t-2 border-gray-800">
  <div class="flex flex-col md:flex-row p-3 items-justify overflow-auto">
    <div class="px-2">
      {{svg-jar "flanders-logo" height="5rem"}}
    </div>
    <img src="http://lorempixel.com/200/80/abstract" class="px-2"/>
    <img src="http://lorempixel.com/200/80/abstract" class="px-2"/>
    <img src="http://lorempixel.com/200/80/abstract" class="px-2"/>
    <img src="http://lorempixel.com/200/80/abstract" class="px-2"/>
  </div>
  <p>&copy; 2020, <a href="https://undercurrent.nyc">Undercurrent</a> and other stakeholders.</p>
</footer>
